@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Fira Code', monospace;
}


body{
    background: var(--background, #282C33);
    font-family: Fira Code;
    color: white;
}

header{
    display: flex;
    min-width: 800px;
    max-width: 1024px;
    padding: 32px 0px 8px 0px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.menu{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
.blase{
    display: flex;
    align-items: center;
    gap: 8px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* Style spécifique pour le symbole "#" */
a .hash {
    color: var(--primary, #C778DD);
    
}

/* Lorsque le lien est survolé */
a:hover {
    color:#C778DD; /* Couleur du texte au survol */
}

.intro{
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    
}
h1{
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 580px;
}
h1 .highlight{
    color:#C778DD
}
h4 {
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    width: 500px;
}

button{
    color:#FFF;
    background-color:#282C33;
    border: 1px solid var(--primary, #C778DD);
    padding: 8px 16px;
    cursor:pointer;
}

button:hover {
    background-color: #C778DD;
    color:#282C33
}
.txtIntro{
    position: relative;
}
.picIntro{
    position: relative;
    min-width: 35%;
}
.me{
    position: absolute; /* Positionnement absolu */
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Centrer parfaitement en utilisant translate */
    height: 300px;
    opacity: 70%;
    
}

.logo{
    position: relative;
    top:-100px;
    left:5%;
    opacity: 50%;

}
.dots{
    position: relative;
    right: -120px;
    top:100px;
}